:root {
    --bg-active: rgb(77, 57, 81);
}

/* ---------------- CONTENT ---------------- */
.content > label {
    line-height: 1.25rem;
    font-size: 0.85rem;
    margin-bottom: 5px;
}

.selection button {
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #fff;
    border: 0.1px solid rgb(184, 176, 185);
    border-radius: 24px;
    cursor: pointer;
    transition-duration: .5s;
}

.selection button:visited,
.selection button:active,
.selection button:focus {
    color: #fff;
    font-weight: 450;
    background-color: var(--bg-active);
}
